.font-size-16-w500{
	font-size: 16px;
	font-family: PingFang-SC-Medium, PingFang-SC;
	font-weight: 500;
	color: #8F8F8F;
}

.font-size-16-w600{
	font-size: 16px;
	font-family: PingFang-SC-Semibold, PingFang-SC;
	font-weight: 600;
}

.font-size-14-w400{
	font-size: 14px;
	font-family: PingFang-SC-Regular, PingFang-SC;
	font-weight: 400;
}

.font-size-m14-w500{
	font-size: 14px;
	font-family: PingFang-SC-Medium, PingFang-SC;
	font-weight: 500;
	color: #333333;
}

.font-size-m12-w400{
	font-size: 12px;
	font-family: PingFang-SC-Regular, PingFang-SC;
	font-weight: 400;
	color: #8F8F8F;
}



.text-color-8f8f8f{
	color: #8F8F8F;
}

.text-color-333333{
	color: #333333;
}

.text-color-53B7C7{
	color: #53B7C7;
}



.content-view{
	background: #F5F5F5;
	height: 100%;
}