# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
dist/
unpackage/
node_modules/

# Other files and folders
.settings/
.hbuilderx/
unpackage/
# Executables
*.swf
*.airgit 
*.ipa
*.apk
*.DS_Store
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
