.addBtn{
	margin: 20px 15px;
	text-align: center;
	color: #FFFFFF;
	font-size: 15px;
	background: #007aff;
	padding: 10px;
	border-radius: 5px;
}


.flex-row{
	display: flex;
	flex-direction: row;
}

.flex1{
	flex: 1;
}

