.addBtn{
	margin: 20px 15px;
	text-align: center;
	color: #FFFFFF;
	font-size: 15px;
	background: #53B7C7;
	padding: 10px;
	border-radius: 5px;
}

.circleButton{
	margin: 20px 60px;
	height: 38px;
	line-height: 38px;
	background: #53B7C7;
	border-radius: 19px;
	
	font-size: 16px;
	font-family: PingFang-SC-Medium, PingFang-SC;
	font-weight: 500;
	color: #FFFFFF;
	text-align: center;
}


.flex-row{
	display: flex;
	flex-direction: row;
}

.space-between{
	display: flex;
	justify-content: space-between;
}

.flex1{
	flex: 1;
}

.bottomborder{
	border-bottom: 0.5px solid #c8c7cc;
}

.hs-border{
	border: 0.5px solid #c8c7cc;
}

.margin15{
	margin: 15px;
}

.marginlr15{
	margin-left: 15px;
	margin-right: 15px;
}

.marginl15{
	margin-left: 15px;	
}

.marginr15{
	margin-right: 15px;	
}

.paadinglr15{
	padding-left: 15px;
	padding-right: 15px;
}

.paddingr15{
	padding-right: 15px;	
}
	
.paddingl15{
	padding-left: 15px;	
}

.paddingb15{
	padding-bottom: 15px;
}

.paading15{
	padding: 15px;
}



.align-items-center{
	align-items: center;
}

.align-items-flex-end{
	align-items: flex-end;
}

.margint5{
	margin-top: 5px;
}

.margint10{
	margin-top: 10px;
}

.marginl10{
	margin-left: 10px;
}
